{% extends 'base.html' %}


{% block title %}Product Page{% endblock %}

{% block name %}Product{% endblock %}
 
{% block content %}

    {% for i in product_list %}
        {%for j in i.cat_prod.all %}
            <h4>{{ j.name }}</h4>
            <img src="{{ j.img.url }}" width="300px" alt="">
            <p>{{ j.price }}</p>
                {% if user.is_authenticated %}
                    <form action="{% url 'add_to_cart' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" name="prod_id" value="{{ j.id }}">Add To Cart</button>
                    </form> 
                {% else %}
                    <a href="{% url 'register' %}"><button>Add To Cart</button></a>
                {% endif %}
            <hr>
        {% endfor %}
    {% endfor %}

{% endblock %}